@{
    ViewData["Title"] = "RMEx SCP Login";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to RMEx Site-Control-Panel</h1>
        <div class="card mx-auto mt-4" style="max-width: 800px; padding: 20px;">
            <div class="card-body">
                <h5 class="card-title mb-4" style="font-size: 1.8em;">Sign In</h5>

                <div class="mb-3 row">
                    <label for="username" class="col-sm-5 col-form-label"><b style="font-size: 1.2em;">Username:</b></label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="username" style="font-size: 1em;">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="password" class="col-sm-5 col-form-label"><b style="font-size: 1.2em;">Password:</b></label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="password" style="font-size: 1em;">

                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" id="togglePassword">
                            <label class="form-check-label" for="togglePassword" style="font-size: 1.0em; margin-left:-280px;">
                                Show password
                            </label>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-primary" style="font-size: 1.2em;">Log in</button>
                </div>
            </div>
        </div>
    </div>
</div>
